body {
    background-color:#FF69B4;
width: 100%;
height: 100%;
margin: 0 auto;
}


.logo {
    float: left;
    padding: 16px;
    width: 70%;
}


footer {

    bottom: 10;
    background-color: rgb(233, 90, 173);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

.barraRodape {
    background-color: #FF69B4
    width: 100%;
    height: 100px;
    margin: 0 auto;

}

.row {

  background-color: ;
  width: 100%;

}

.card {

   
    text-align: center;
    width: 100%;    
    height: 100%;
}

.card-text {
    text-align: center; 

}






